
 <a id="fab" href="#" class="btn-floating btn-large waves-effect waves-light green tooltipped" data-position="left" data-delay="50" data-tooltip="Download Resume" style="bottom: 30px; right: 24px; position: fixed;"><i class="material-icons">file_download</i></a>
 <!-- Tap Target Structure -->
 <div class="tap-target" data-activates="fab">
   <div class="tap-target-content white-text">
     <h5>Download Resume</h5>
     <p>If you are looking for my resume, click the FAB to download my resume in PDF format.</p>
   </div>
 </div>


<footer class="page-footer #212121 grey darken-4">
 <div class="footer-copyright">
   <div class="container">
   haxzie.me © 2017
   <a class="grey-text text-lighten-4 right" href="http://materializecss.com">Made with ❤ Materialize</a>
   </div>
 </div>
</footer>